body {
    font: 20px Montserrat, sans-serif;
    background: radial-gradient(ellipse at bottom, #0c1116 0%, #090a0f 100%);
    margin-left: 30px;
    margin-right: 30px;
}
html{
  width: 100%;
  height: 100%;
  position: absolute;
}
.topnav {
  overflow: hidden;
  display: -webkit-inline-box;
  display: inline-flex;
  position: absolute;
}
.topnav a{
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  border: 2px solid #215496;
  border-radius: 24px;
  margin: 30px 25px 30px 25px;
  letter-spacing: 3px;
}
.topnav input[type=text] {
  padding: 10px 20px;
  top:5px;
  border: 2px solid #215496;
 width: 100%;
 height: 30px;
  font-size: 17px;
  border-radius: 70px;
}
.topnav a:hover {
  background-color:white;
  color: black;
}
<!--animations-->
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 536px 834px #FFF , 1136px 62px #FFF , 997px 910px #FFF , 1414px 19px #FFF , 1406px 1340px #FFF , 864px 729px #FFF , 990px 61px #FFF , 896px 1329px #FFF , 967px 1957px #FFF , 486px 1108px #FFF , 1318px 401px #FFF , 154px 649px #FFF , 814px 1780px #FFF , 39px 480px #FFF , 50px 1953px #FFF , 1631px 1614px #FFF , 43px 268px #FFF , 823px 423px #FFF , 1579px 1924px #FFF , 275px 1286px #FFF , 1441px 455px #FFF , 681px 1223px #FFF , 183px 1719px #FFF , 1467px 557px #FFF , 1305px 1797px #FFF , 69px 42px #FFF , 1597px 211px #FFF , 172px 1622px #FFF , 2px 802px #FFF , 1346px 463px #FFF , 740px 1091px #FFF , 798px 82px #FFF , 1188px 540px #FFF , 132px 1716px #FFF , 534px 199px #FFF , 1719px 391px #FFF , 1935px 480px #FFF , 1176px 1963px #FFF , 134px 1990px #FFF , 567px 892px #FFF , 890px 748px #FFF , 1177px 1185px #FFF , 646px 461px #FFF , 1098px 571px #FFF , 1523px 713px #FFF , 671px 1792px #FFF , 1699px 545px #FFF , 1114px 1490px #FFF , 1968px 686px #FFF , 1943px 1260px #FFF , 1836px 212px #FFF , 311px 1345px #FFF , 1447px 1050px #FFF , 1794px 1906px #FFF , 482px 216px #FFF , 437px 8px #FFF , 1637px 1772px #FFF , 719px 267px #FFF , 422px 1743px #FFF , 1239px 781px #FFF , 37px 1575px #FFF , 1856px 1703px #FFF , 842px 1149px #FFF , 157px 1575px #FFF , 192px 23px #FFF , 210px 859px #FFF , 244px 1292px #FFF , 299px 790px #FFF , 1488px 1516px #FFF , 1748px 714px #FFF , 1217px 102px #FFF , 1236px 663px #FFF , 1052px 312px #FFF , 1899px 31px #FFF , 1391px 1578px #FFF , 1829px 77px #FFF , 187px 1962px #FFF , 1334px 1175px #FFF , 1281px 154px #FFF , 788px 1670px #FFF , 275px 1654px #FFF , 555px 434px #FFF , 1400px 796px #FFF , 1947px 118px #FFF , 1762px 1672px #FFF , 1979px 639px #FFF , 1789px 1132px #FFF , 1863px 146px #FFF , 995px 845px #FFF , 214px 1303px #FFF , 1041px 281px #FFF , 1793px 1086px #FFF , 1130px 1072px #FFF , 1595px 1201px #FFF , 618px 521px #FFF , 1912px 1551px #FFF , 1791px 287px #FFF , 1469px 80px #FFF , 423px 1545px #FFF , 248px 1789px #FFF , 127px 1240px #FFF , 1291px 1421px #FFF , 1532px 1137px #FFF , 1263px 1630px #FFF , 1006px 1280px #FFF , 903px 164px #FFF , 534px 1809px #FFF , 427px 529px #FFF , 1509px 901px #FFF , 67px 169px #FFF , 1467px 1287px #FFF , 1627px 726px #FFF , 839px 487px #FFF , 1354px 1060px #FFF , 1616px 1780px #FFF , 939px 1627px #FFF , 1824px 65px #FFF , 198px 104px #FFF , 482px 1709px #FFF , 1645px 510px #FFF , 992px 1132px #FFF , 1678px 840px #FFF , 1931px 376px #FFF , 23px 493px #FFF , 1795px 1295px #FFF , 633px 1686px #FFF , 780px 1098px #FFF , 1801px 464px #FFF , 225px 193px #FFF , 570px 1469px #FFF , 1251px 215px #FFF , 601px 38px #FFF , 1956px 229px #FFF , 1301px 1041px #FFF , 1862px 1982px #FFF , 100px 1794px #FFF , 1019px 952px #FFF , 832px 842px #FFF , 545px 619px #FFF , 850px 272px #FFF , 469px 392px #FFF , 175px 629px #FFF , 1366px 1575px #FFF , 111px 617px #FFF , 416px 31px #FFF , 1680px 776px #FFF , 1781px 218px #FFF , 1859px 528px #FFF , 1464px 93px #FFF , 494px 1152px #FFF , 388px 17px #FFF , 1765px 1888px #FFF , 1587px 331px #FFF , 1315px 1280px #FFF , 1794px 390px #FFF , 1608px 1857px #FFF , 1096px 749px #FFF , 1958px 128px #FFF , 1728px 1801px #FFF , 1830px 8px #FFF , 1111px 1758px #FFF , 822px 1863px #FFF , 32px 56px #FFF , 140px 578px #FFF , 248px 1544px #FFF , 1015px 1892px #FFF , 1113px 817px #FFF , 271px 1673px #FFF , 1984px 467px #FFF , 1360px 232px #FFF , 684px 1843px #FFF , 1051px 1165px #FFF , 1931px 1836px #FFF , 814px 997px #FFF , 173px 1457px #FFF , 1566px 488px #FFF , 1061px 949px #FFF , 444px 273px #FFF , 128px 1503px #FFF , 598px 1459px #FFF , 195px 748px #FFF , 1847px 698px #FFF , 745px 1549px #FFF , 416px 670px #FFF , 979px 859px #FFF , 380px 472px #FFF , 1524px 1723px #FFF , 1064px 1658px #FFF , 975px 746px #FFF , 638px 391px #FFF , 465px 872px #FFF , 1124px 300px #FFF , 956px 300px #FFF , 658px 791px #FFF , 112px 1545px #FFF , 821px 1186px #FFF , 1357px 1576px #FFF , 1285px 528px #FFF , 1595px 247px #FFF , 1856px 891px #FFF , 779px 1492px #FFF , 992px 392px #FFF , 1425px 1082px #FFF , 403px 1862px #FFF , 317px 839px #FFF , 126px 630px #FFF , 908px 1202px #FFF , 1748px 906px #FFF , 1721px 148px #FFF , 1992px 614px #FFF , 958px 1814px #FFF , 1945px 1485px #FFF , 1282px 788px #FFF , 1358px 1346px #FFF , 222px 459px #FFF , 445px 807px #FFF , 887px 1021px #FFF , 41px 1865px #FFF , 1554px 261px #FFF , 561px 534px #FFF , 1859px 443px #FFF , 1184px 118px #FFF , 463px 1358px #FFF , 1170px 350px #FFF , 1566px 39px #FFF , 566px 1818px #FFF , 1951px 1761px #FFF , 211px 1418px #FFF , 1687px 1481px #FFF , 203px 1881px #FFF , 598px 1029px #FFF , 1837px 1296px #FFF , 1376px 21px #FFF , 836px 280px #FFF , 915px 854px #FFF , 689px 253px #FFF , 1993px 1866px #FFF , 1198px 1337px #FFF , 537px 1714px #FFF , 242px 1695px #FFF , 1732px 1447px #FFF , 1558px 1252px #FFF , 1749px 1120px #FFF , 1652px 204px #FFF , 1903px 1773px #FFF , 1998px 849px #FFF , 1722px 1591px #FFF , 396px 220px #FFF , 1261px 1467px #FFF , 628px 1577px #FFF , 1159px 567px #FFF , 143px 449px #FFF , 1439px 145px #FFF , 1960px 1088px #FFF , 1735px 1626px #FFF , 11px 203px #FFF , 1841px 560px #FFF , 437px 700px #FFF , 564px 923px #FFF , 1606px 881px #FFF , 186px 1132px #FFF , 1977px 551px #FFF , 904px 105px #FFF , 1736px 904px #FFF , 1296px 1861px #FFF , 984px 1030px #FFF , 367px 1265px #FFF , 1638px 1760px #FFF , 1259px 1263px #FFF , 1596px 1520px #FFF , 1323px 1225px #FFF , 1518px 609px #FFF , 1461px 1330px #FFF , 1543px 1563px #FFF , 1826px 1938px #FFF , 1565px 971px #FFF , 1536px 1324px #FFF , 854px 213px #FFF , 1179px 1866px #FFF , 627px 1022px #FFF , 456px 1501px #FFF , 1195px 424px #FFF , 429px 306px #FFF , 949px 1415px #FFF , 1466px 663px #FFF , 1487px 394px #FFF , 1938px 362px #FFF , 850px 136px #FFF , 463px 957px #FFF , 1545px 1009px #FFF , 1524px 1988px #FFF , 1167px 1027px #FFF , 1336px 666px #FFF , 1848px 1758px #FFF , 705px 1813px #FFF , 1736px 1063px #FFF , 1032px 1489px #FFF , 938px 522px #FFF , 353px 1660px #FFF , 551px 1477px #FFF , 1232px 1587px #FFF , 437px 1665px #FFF , 1478px 1558px #FFF , 240px 152px #FFF , 509px 367px #FFF , 1174px 1942px #FFF , 1593px 1016px #FFF , 336px 940px #FFF , 215px 1102px #FFF , 692px 335px #FFF , 911px 1776px #FFF , 1499px 454px #FFF , 451px 1410px #FFF , 349px 52px #FFF , 1838px 651px #FFF , 237px 1123px #FFF , 1766px 150px #FFF , 105px 569px #FFF , 1966px 36px #FFF , 981px 699px #FFF , 35px 1386px #FFF , 1683px 755px #FFF , 247px 846px #FFF , 800px 1862px #FFF , 539px 80px #FFF , 1582px 1178px #FFF , 535px 917px #FFF , 93px 1767px #FFF , 313px 1900px #FFF , 1233px 663px #FFF , 740px 810px #FFF , 1759px 1026px #FFF , 1899px 955px #FFF , 1435px 736px #FFF , 20px 783px #FFF , 1289px 464px #FFF , 423px 1653px #FFF , 1834px 1712px #FFF , 1255px 165px #FFF , 1070px 1486px #FFF , 74px 1274px #FFF , 647px 1482px #FFF , 980px 20px #FFF , 1346px 892px #FFF , 1630px 769px #FFF , 1488px 274px #FFF , 386px 593px #FFF , 586px 1810px #FFF , 862px 1000px #FFF , 1360px 1278px #FFF , 1616px 1698px #FFF , 1099px 858px #FFF , 1554px 1484px #FFF , 685px 1280px #FFF , 796px 598px #FFF , 1980px 889px #FFF , 1234px 1527px #FFF , 1588px 95px #FFF , 217px 233px #FFF , 847px 1406px #FFF , 238px 967px #FFF , 928px 213px #FFF , 1472px 1895px #FFF , 1293px 1492px #FFF , 1987px 1422px #FFF , 680px 283px #FFF , 4px 1182px #FFF , 501px 1353px #FFF , 529px 731px #FFF , 1010px 1755px #FFF , 1413px 1195px #FFF , 1906px 1946px #FFF , 48px 566px #FFF , 1052px 425px #FFF , 1287px 1955px #FFF , 1455px 207px #FFF , 261px 1987px #FFF , 412px 396px #FFF , 146px 836px #FFF , 605px 266px #FFF , 502px 1071px #FFF , 982px 686px #FFF , 87px 1507px #FFF , 1742px 1713px #FFF , 328px 910px #FFF , 1360px 1479px #FFF , 457px 793px #FFF , 1039px 1038px #FFF , 760px 1565px #FFF , 1580px 1905px #FFF , 803px 205px #FFF , 1314px 1328px #FFF , 1956px 1335px #FFF , 806px 1014px #FFF , 1714px 1704px #FFF , 1085px 630px #FFF , 1829px 1587px #FFF , 1607px 292px #FFF , 10px 322px #FFF , 807px 468px #FFF , 1238px 246px #FFF , 911px 970px #FFF , 1784px 1274px #FFF , 1883px 1185px #FFF , 1117px 1926px #FFF , 433px 221px #FFF , 137px 1719px #FFF , 378px 1140px #FFF , 590px 684px #FFF , 1662px 803px #FFF , 1851px 1865px #FFF , 1731px 157px #FFF , 252px 627px #FFF , 1003px 1948px #FFF , 1924px 331px #FFF , 1980px 229px #FFF , 243px 89px #FFF , 599px 1661px #FFF , 1192px 158px #FFF , 455px 1119px #FFF , 1359px 1766px #FFF , 1742px 1874px #FFF , 1163px 848px #FFF , 324px 1654px #FFF , 1877px 1223px #FFF , 1602px 872px #FFF , 683px 1502px #FFF , 4px 932px #FFF , 630px 1112px #FFF , 993px 295px #FFF , 1305px 1691px #FFF , 1468px 750px #FFF , 27px 268px #FFF , 800px 1805px #FFF , 1317px 65px #FFF , 202px 430px #FFF , 1226px 391px #FFF , 110px 496px #FFF , 25px 1773px #FFF , 548px 149px #FFF , 719px 570px #FFF , 498px 426px #FFF , 1582px 1384px #FFF , 1945px 290px #FFF , 1921px 583px #FFF , 1595px 1591px #FFF , 293px 1805px #FFF , 1782px 672px #FFF , 238px 851px #FFF , 1255px 1035px #FFF , 94px 281px #FFF , 176px 1253px #FFF , 1042px 1992px #FFF , 867px 916px #FFF , 342px 198px #FFF , 1340px 312px #FFF , 1439px 44px #FFF , 1351px 1726px #FFF , 1653px 1805px #FFF , 1153px 279px #FFF , 1402px 80px #FFF , 902px 191px #FFF , 711px 49px #FFF , 567px 462px #FFF , 107px 1140px #FFF , 1173px 1039px #FFF , 727px 1579px #FFF , 1008px 1796px #FFF , 1677px 573px #FFF , 640px 981px #FFF , 684px 660px #FFF , 668px 1147px #FFF , 13px 1672px #FFF , 1942px 1642px #FFF , 1560px 1336px #FFF , 737px 381px #FFF , 1251px 1775px #FFF , 1858px 398px #FFF , 1439px 1409px #FFF , 1223px 857px #FFF , 129px 1968px #FFF , 1985px 174px #FFF , 1102px 1540px #FFF , 1991px 334px #FFF , 889px 1010px #FFF , 1473px 1462px #FFF , 121px 1790px #FFF , 178px 1170px #FFF , 1837px 1081px #FFF , 908px 1386px #FFF , 1541px 253px #FFF , 812px 1051px #FFF , 531px 1998px #FFF , 1698px 157px #FFF , 151px 904px #FFF , 1185px 1043px #FFF , 1261px 1957px #FFF , 134px 486px #FFF , 815px 148px #FFF , 1611px 1518px #FFF , 1521px 172px #FFF , 185px 1864px #FFF , 1705px 1519px #FFF , 268px 1108px #FFF , 961px 900px #FFF , 249px 66px #FFF , 146px 1910px #FFF , 1983px 295px #FFF , 639px 800px #FFF , 1493px 397px #FFF , 1482px 1971px #FFF , 1329px 565px #FFF , 995px 653px #FFF , 947px 1010px #FFF , 289px 318px #FFF , 193px 1414px #FFF , 351px 151px #FFF , 1497px 1856px #FFF , 885px 375px #FFF , 1031px 539px #FFF , 1582px 968px #FFF , 350px 897px #FFF , 823px 640px #FFF , 1729px 32px #FFF , 242px 1481px #FFF , 1424px 603px #FFF , 332px 1986px #FFF , 977px 1344px #FFF , 1502px 389px #FFF , 913px 1797px #FFF , 45px 1546px #FFF , 987px 1362px #FFF , 1846px 677px #FFF , 1106px 1819px #FFF , 774px 412px #FFF , 826px 1904px #FFF , 1456px 1508px #FFF , 1535px 1554px #FFF , 601px 1753px #FFF , 109px 403px #FFF , 259px 1925px #FFF , 49px 1739px #FFF , 596px 1789px #FFF , 559px 1036px #FFF , 777px 1273px #FFF , 298px 1909px #FFF , 1640px 822px #FFF , 640px 873px #FFF , 750px 318px #FFF , 1642px 658px #FFF , 833px 1009px #FFF , 494px 16px #FFF , 828px 61px #FFF , 1656px 1738px #FFF , 508px 1990px #FFF , 681px 1801px #FFF , 1508px 1521px #FFF , 800px 6px #FFF , 155px 1309px #FFF , 421px 581px #FFF , 1068px 1302px #FFF , 675px 1026px #FFF , 146px 1430px #FFF , 125px 1980px #FFF , 40px 1302px #FFF , 264px 799px #FFF , 712px 1350px #FFF , 921px 1761px #FFF , 1921px 885px #FFF , 1480px 227px #FFF , 508px 1241px #FFF , 36px 1245px #FFF , 305px 1103px #FFF , 505px 1307px #FFF , 225px 86px #FFF , 867px 1757px #FFF , 1004px 1873px #FFF , 488px 18px #FFF , 1293px 731px #FFF , 96px 1277px #FFF , 196px 1088px #FFF , 1024px 494px #FFF , 1730px 1228px #FFF , 1751px 996px #FFF , 121px 679px #FFF , 553px 1352px #FFF , 1405px 1494px #FFF , 1770px 219px #FFF , 1091px 1579px #FFF , 1400px 1289px #FFF , 1108px 1271px #FFF , 1600px 124px #FFF , 1332px 14px #FFF , 1384px 1043px #FFF , 685px 724px #FFF , 1797px 1872px #FFF , 1197px 428px #FFF , 1374px 1508px #FFF , 95px 97px #FFF , 1467px 119px #FFF , 996px 280px #FFF , 666px 1194px #FFF , 1588px 841px #FFF , 1336px 323px #FFF , 1669px 1975px #FFF , 152px 46px #FFF , 1444px 35px #FFF , 446px 462px #FFF , 103px 753px #FFF , 690px 644px #FFF , 1470px 219px #FFF , 707px 1671px #FFF , 1492px 1815px #FFF , 353px 157px #FFF , 316px 1338px #FFF , 1347px 354px #FFF , 60px 33px #FFF , 1134px 680px #FFF , 890px 1211px #FFF , 506px 1071px #FFF , 69px 1817px #FFF , 615px 354px #FFF , 590px 590px #FFF , 1296px 232px #FFF , 343px 582px #FFF , 1977px 1513px #FFF , 721px 1338px #FFF , 1615px 697px #FFF , 647px 602px #FFF , 171px 501px #FFF , 1636px 126px #FFF , 1921px 1803px #FFF , 921px 1830px #FFF , 919px 253px #FFF , 1822px 1981px #FFF , 1904px 1061px #FFF , 28px 226px #FFF , 1769px 1412px #FFF , 1752px 432px #FFF , 126px 1104px #FFF , 1426px 616px #FFF , 1044px 1908px #FFF , 272px 975px #FFF , 516px 121px #FFF , 64px 1467px #FFF , 655px 556px #FFF , 1022px 1966px #FFF , 1306px 92px #FFF , 1979px 784px #FFF , 511px 1776px #FFF , 1477px 843px #FFF , 1601px 327px #FFF , 1166px 435px #FFF , 410px 1429px #FFF , 1007px 1385px #FFF , 439px 1965px #FFF , 992px 1558px #FFF , 1693px 833px #FFF , 664px 1248px #FFF , 468px 395px #FFF , 799px 1824px #FFF , 1151px 406px #FFF , 1701px 1489px #FFF , 113px 542px #FFF , 154px 1615px #FFF , 1225px 986px #FFF , 75px 1323px #FFF , 118px 473px #FFF , 49px 1552px #FFF , 788px 164px #FFF , 886px 744px #FFF , 1732px 1399px #FFF , 1453px 488px #FFF , 429px 1644px #FFF , 1163px 1736px #FFF , 1532px 1901px #FFF , 851px 1030px #FFF , 1764px 776px #FFF , 416px 1386px #FFF , 257px 159px #FFF , 86px 1381px #FFF , 1463px 437px #FFF , 1240px 1242px #FFF , 429px 360px #FFF , 936px 79px #FFF , 400px 1511px #FFF , 1584px 1168px #FFF , 619px 193px #FFF , 1509px 469px #FFF , 99px 589px #FFF , 1047px 290px #FFF , 942px 315px #FFF , 406px 912px #FFF , 1546px 267px #FFF , 327px 454px #FFF , 1992px 215px #FFF , 735px 1103px #FFF , 1869px 1997px #FFF , 586px 997px #FFF , 653px 1896px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 536px 834px #FFF , 1136px 62px #FFF , 997px 910px #FFF , 1414px 19px #FFF , 1406px 1340px #FFF , 864px 729px #FFF , 990px 61px #FFF , 896px 1329px #FFF , 967px 1957px #FFF , 486px 1108px #FFF , 1318px 401px #FFF , 154px 649px #FFF , 814px 1780px #FFF , 39px 480px #FFF , 50px 1953px #FFF , 1631px 1614px #FFF , 43px 268px #FFF , 823px 423px #FFF , 1579px 1924px #FFF , 275px 1286px #FFF , 1441px 455px #FFF , 681px 1223px #FFF , 183px 1719px #FFF , 1467px 557px #FFF , 1305px 1797px #FFF , 69px 42px #FFF , 1597px 211px #FFF , 172px 1622px #FFF , 2px 802px #FFF , 1346px 463px #FFF , 740px 1091px #FFF , 798px 82px #FFF , 1188px 540px #FFF , 132px 1716px #FFF , 534px 199px #FFF , 1719px 391px #FFF , 1935px 480px #FFF , 1176px 1963px #FFF , 134px 1990px #FFF , 567px 892px #FFF , 890px 748px #FFF , 1177px 1185px #FFF , 646px 461px #FFF , 1098px 571px #FFF , 1523px 713px #FFF , 671px 1792px #FFF , 1699px 545px #FFF , 1114px 1490px #FFF , 1968px 686px #FFF , 1943px 1260px #FFF , 1836px 212px #FFF , 311px 1345px #FFF , 1447px 1050px #FFF , 1794px 1906px #FFF , 482px 216px #FFF , 437px 8px #FFF , 1637px 1772px #FFF , 719px 267px #FFF , 422px 1743px #FFF , 1239px 781px #FFF , 37px 1575px #FFF , 1856px 1703px #FFF , 842px 1149px #FFF , 157px 1575px #FFF , 192px 23px #FFF , 210px 859px #FFF , 244px 1292px #FFF , 299px 790px #FFF , 1488px 1516px #FFF , 1748px 714px #FFF , 1217px 102px #FFF , 1236px 663px #FFF , 1052px 312px #FFF , 1899px 31px #FFF , 1391px 1578px #FFF , 1829px 77px #FFF , 187px 1962px #FFF , 1334px 1175px #FFF , 1281px 154px #FFF , 788px 1670px #FFF , 275px 1654px #FFF , 555px 434px #FFF , 1400px 796px #FFF , 1947px 118px #FFF , 1762px 1672px #FFF , 1979px 639px #FFF , 1789px 1132px #FFF , 1863px 146px #FFF , 995px 845px #FFF , 214px 1303px #FFF , 1041px 281px #FFF , 1793px 1086px #FFF , 1130px 1072px #FFF , 1595px 1201px #FFF , 618px 521px #FFF , 1912px 1551px #FFF , 1791px 287px #FFF , 1469px 80px #FFF , 423px 1545px #FFF , 248px 1789px #FFF , 127px 1240px #FFF , 1291px 1421px #FFF , 1532px 1137px #FFF , 1263px 1630px #FFF , 1006px 1280px #FFF , 903px 164px #FFF , 534px 1809px #FFF , 427px 529px #FFF , 1509px 901px #FFF , 67px 169px #FFF , 1467px 1287px #FFF , 1627px 726px #FFF , 839px 487px #FFF , 1354px 1060px #FFF , 1616px 1780px #FFF , 939px 1627px #FFF , 1824px 65px #FFF , 198px 104px #FFF , 482px 1709px #FFF , 1645px 510px #FFF , 992px 1132px #FFF , 1678px 840px #FFF , 1931px 376px #FFF , 23px 493px #FFF , 1795px 1295px #FFF , 633px 1686px #FFF , 780px 1098px #FFF , 1801px 464px #FFF , 225px 193px #FFF , 570px 1469px #FFF , 1251px 215px #FFF , 601px 38px #FFF , 1956px 229px #FFF , 1301px 1041px #FFF , 1862px 1982px #FFF , 100px 1794px #FFF , 1019px 952px #FFF , 832px 842px #FFF , 545px 619px #FFF , 850px 272px #FFF , 469px 392px #FFF , 175px 629px #FFF , 1366px 1575px #FFF , 111px 617px #FFF , 416px 31px #FFF , 1680px 776px #FFF , 1781px 218px #FFF , 1859px 528px #FFF , 1464px 93px #FFF , 494px 1152px #FFF , 388px 17px #FFF , 1765px 1888px #FFF , 1587px 331px #FFF , 1315px 1280px #FFF , 1794px 390px #FFF , 1608px 1857px #FFF , 1096px 749px #FFF , 1958px 128px #FFF , 1728px 1801px #FFF , 1830px 8px #FFF , 1111px 1758px #FFF , 822px 1863px #FFF , 32px 56px #FFF , 140px 578px #FFF , 248px 1544px #FFF , 1015px 1892px #FFF , 1113px 817px #FFF , 271px 1673px #FFF , 1984px 467px #FFF , 1360px 232px #FFF , 684px 1843px #FFF , 1051px 1165px #FFF , 1931px 1836px #FFF , 814px 997px #FFF , 173px 1457px #FFF , 1566px 488px #FFF , 1061px 949px #FFF , 444px 273px #FFF , 128px 1503px #FFF , 598px 1459px #FFF , 195px 748px #FFF , 1847px 698px #FFF , 745px 1549px #FFF , 416px 670px #FFF , 979px 859px #FFF , 380px 472px #FFF , 1524px 1723px #FFF , 1064px 1658px #FFF , 975px 746px #FFF , 638px 391px #FFF , 465px 872px #FFF , 1124px 300px #FFF , 956px 300px #FFF , 658px 791px #FFF , 112px 1545px #FFF , 821px 1186px #FFF , 1357px 1576px #FFF , 1285px 528px #FFF , 1595px 247px #FFF , 1856px 891px #FFF , 779px 1492px #FFF , 992px 392px #FFF , 1425px 1082px #FFF , 403px 1862px #FFF , 317px 839px #FFF , 126px 630px #FFF , 908px 1202px #FFF , 1748px 906px #FFF , 1721px 148px #FFF , 1992px 614px #FFF , 958px 1814px #FFF , 1945px 1485px #FFF , 1282px 788px #FFF , 1358px 1346px #FFF , 222px 459px #FFF , 445px 807px #FFF , 887px 1021px #FFF , 41px 1865px #FFF , 1554px 261px #FFF , 561px 534px #FFF , 1859px 443px #FFF , 1184px 118px #FFF , 463px 1358px #FFF , 1170px 350px #FFF , 1566px 39px #FFF , 566px 1818px #FFF , 1951px 1761px #FFF , 211px 1418px #FFF , 1687px 1481px #FFF , 203px 1881px #FFF , 598px 1029px #FFF , 1837px 1296px #FFF , 1376px 21px #FFF , 836px 280px #FFF , 915px 854px #FFF , 689px 253px #FFF , 1993px 1866px #FFF , 1198px 1337px #FFF , 537px 1714px #FFF , 242px 1695px #FFF , 1732px 1447px #FFF , 1558px 1252px #FFF , 1749px 1120px #FFF , 1652px 204px #FFF , 1903px 1773px #FFF , 1998px 849px #FFF , 1722px 1591px #FFF , 396px 220px #FFF , 1261px 1467px #FFF , 628px 1577px #FFF , 1159px 567px #FFF , 143px 449px #FFF , 1439px 145px #FFF , 1960px 1088px #FFF , 1735px 1626px #FFF , 11px 203px #FFF , 1841px 560px #FFF , 437px 700px #FFF , 564px 923px #FFF , 1606px 881px #FFF , 186px 1132px #FFF , 1977px 551px #FFF , 904px 105px #FFF , 1736px 904px #FFF , 1296px 1861px #FFF , 984px 1030px #FFF , 367px 1265px #FFF , 1638px 1760px #FFF , 1259px 1263px #FFF , 1596px 1520px #FFF , 1323px 1225px #FFF , 1518px 609px #FFF , 1461px 1330px #FFF , 1543px 1563px #FFF , 1826px 1938px #FFF , 1565px 971px #FFF , 1536px 1324px #FFF , 854px 213px #FFF , 1179px 1866px #FFF , 627px 1022px #FFF , 456px 1501px #FFF , 1195px 424px #FFF , 429px 306px #FFF , 949px 1415px #FFF , 1466px 663px #FFF , 1487px 394px #FFF , 1938px 362px #FFF , 850px 136px #FFF , 463px 957px #FFF , 1545px 1009px #FFF , 1524px 1988px #FFF , 1167px 1027px #FFF , 1336px 666px #FFF , 1848px 1758px #FFF , 705px 1813px #FFF , 1736px 1063px #FFF , 1032px 1489px #FFF , 938px 522px #FFF , 353px 1660px #FFF , 551px 1477px #FFF , 1232px 1587px #FFF , 437px 1665px #FFF , 1478px 1558px #FFF , 240px 152px #FFF , 509px 367px #FFF , 1174px 1942px #FFF , 1593px 1016px #FFF , 336px 940px #FFF , 215px 1102px #FFF , 692px 335px #FFF , 911px 1776px #FFF , 1499px 454px #FFF , 451px 1410px #FFF , 349px 52px #FFF , 1838px 651px #FFF , 237px 1123px #FFF , 1766px 150px #FFF , 105px 569px #FFF , 1966px 36px #FFF , 981px 699px #FFF , 35px 1386px #FFF , 1683px 755px #FFF , 247px 846px #FFF , 800px 1862px #FFF , 539px 80px #FFF , 1582px 1178px #FFF , 535px 917px #FFF , 93px 1767px #FFF , 313px 1900px #FFF , 1233px 663px #FFF , 740px 810px #FFF , 1759px 1026px #FFF , 1899px 955px #FFF , 1435px 736px #FFF , 20px 783px #FFF , 1289px 464px #FFF , 423px 1653px #FFF , 1834px 1712px #FFF , 1255px 165px #FFF , 1070px 1486px #FFF , 74px 1274px #FFF , 647px 1482px #FFF , 980px 20px #FFF , 1346px 892px #FFF , 1630px 769px #FFF , 1488px 274px #FFF , 386px 593px #FFF , 586px 1810px #FFF , 862px 1000px #FFF , 1360px 1278px #FFF , 1616px 1698px #FFF , 1099px 858px #FFF , 1554px 1484px #FFF , 685px 1280px #FFF , 796px 598px #FFF , 1980px 889px #FFF , 1234px 1527px #FFF , 1588px 95px #FFF , 217px 233px #FFF , 847px 1406px #FFF , 238px 967px #FFF , 928px 213px #FFF , 1472px 1895px #FFF , 1293px 1492px #FFF , 1987px 1422px #FFF , 680px 283px #FFF , 4px 1182px #FFF , 501px 1353px #FFF , 529px 731px #FFF , 1010px 1755px #FFF , 1413px 1195px #FFF , 1906px 1946px #FFF , 48px 566px #FFF , 1052px 425px #FFF , 1287px 1955px #FFF , 1455px 207px #FFF , 261px 1987px #FFF , 412px 396px #FFF , 146px 836px #FFF , 605px 266px #FFF , 502px 1071px #FFF , 982px 686px #FFF , 87px 1507px #FFF , 1742px 1713px #FFF , 328px 910px #FFF , 1360px 1479px #FFF , 457px 793px #FFF , 1039px 1038px #FFF , 760px 1565px #FFF , 1580px 1905px #FFF , 803px 205px #FFF , 1314px 1328px #FFF , 1956px 1335px #FFF , 806px 1014px #FFF , 1714px 1704px #FFF , 1085px 630px #FFF , 1829px 1587px #FFF , 1607px 292px #FFF , 10px 322px #FFF , 807px 468px #FFF , 1238px 246px #FFF , 911px 970px #FFF , 1784px 1274px #FFF , 1883px 1185px #FFF , 1117px 1926px #FFF , 433px 221px #FFF , 137px 1719px #FFF , 378px 1140px #FFF , 590px 684px #FFF , 1662px 803px #FFF , 1851px 1865px #FFF , 1731px 157px #FFF , 252px 627px #FFF , 1003px 1948px #FFF , 1924px 331px #FFF , 1980px 229px #FFF , 243px 89px #FFF , 599px 1661px #FFF , 1192px 158px #FFF , 455px 1119px #FFF , 1359px 1766px #FFF , 1742px 1874px #FFF , 1163px 848px #FFF , 324px 1654px #FFF , 1877px 1223px #FFF , 1602px 872px #FFF , 683px 1502px #FFF , 4px 932px #FFF , 630px 1112px #FFF , 993px 295px #FFF , 1305px 1691px #FFF , 1468px 750px #FFF , 27px 268px #FFF , 800px 1805px #FFF , 1317px 65px #FFF , 202px 430px #FFF , 1226px 391px #FFF , 110px 496px #FFF , 25px 1773px #FFF , 548px 149px #FFF , 719px 570px #FFF , 498px 426px #FFF , 1582px 1384px #FFF , 1945px 290px #FFF , 1921px 583px #FFF , 1595px 1591px #FFF , 293px 1805px #FFF , 1782px 672px #FFF , 238px 851px #FFF , 1255px 1035px #FFF , 94px 281px #FFF , 176px 1253px #FFF , 1042px 1992px #FFF , 867px 916px #FFF , 342px 198px #FFF , 1340px 312px #FFF , 1439px 44px #FFF , 1351px 1726px #FFF , 1653px 1805px #FFF , 1153px 279px #FFF , 1402px 80px #FFF , 902px 191px #FFF , 711px 49px #FFF , 567px 462px #FFF , 107px 1140px #FFF , 1173px 1039px #FFF , 727px 1579px #FFF , 1008px 1796px #FFF , 1677px 573px #FFF , 640px 981px #FFF , 684px 660px #FFF , 668px 1147px #FFF , 13px 1672px #FFF , 1942px 1642px #FFF , 1560px 1336px #FFF , 737px 381px #FFF , 1251px 1775px #FFF , 1858px 398px #FFF , 1439px 1409px #FFF , 1223px 857px #FFF , 129px 1968px #FFF , 1985px 174px #FFF , 1102px 1540px #FFF , 1991px 334px #FFF , 889px 1010px #FFF , 1473px 1462px #FFF , 121px 1790px #FFF , 178px 1170px #FFF , 1837px 1081px #FFF , 908px 1386px #FFF , 1541px 253px #FFF , 812px 1051px #FFF , 531px 1998px #FFF , 1698px 157px #FFF , 151px 904px #FFF , 1185px 1043px #FFF , 1261px 1957px #FFF , 134px 486px #FFF , 815px 148px #FFF , 1611px 1518px #FFF , 1521px 172px #FFF , 185px 1864px #FFF , 1705px 1519px #FFF , 268px 1108px #FFF , 961px 900px #FFF , 249px 66px #FFF , 146px 1910px #FFF , 1983px 295px #FFF , 639px 800px #FFF , 1493px 397px #FFF , 1482px 1971px #FFF , 1329px 565px #FFF , 995px 653px #FFF , 947px 1010px #FFF , 289px 318px #FFF , 193px 1414px #FFF , 351px 151px #FFF , 1497px 1856px #FFF , 885px 375px #FFF , 1031px 539px #FFF , 1582px 968px #FFF , 350px 897px #FFF , 823px 640px #FFF , 1729px 32px #FFF , 242px 1481px #FFF , 1424px 603px #FFF , 332px 1986px #FFF , 977px 1344px #FFF , 1502px 389px #FFF , 913px 1797px #FFF , 45px 1546px #FFF , 987px 1362px #FFF , 1846px 677px #FFF , 1106px 1819px #FFF , 774px 412px #FFF , 826px 1904px #FFF , 1456px 1508px #FFF , 1535px 1554px #FFF , 601px 1753px #FFF , 109px 403px #FFF , 259px 1925px #FFF , 49px 1739px #FFF , 596px 1789px #FFF , 559px 1036px #FFF , 777px 1273px #FFF , 298px 1909px #FFF , 1640px 822px #FFF , 640px 873px #FFF , 750px 318px #FFF , 1642px 658px #FFF , 833px 1009px #FFF , 494px 16px #FFF , 828px 61px #FFF , 1656px 1738px #FFF , 508px 1990px #FFF , 681px 1801px #FFF , 1508px 1521px #FFF , 800px 6px #FFF , 155px 1309px #FFF , 421px 581px #FFF , 1068px 1302px #FFF , 675px 1026px #FFF , 146px 1430px #FFF , 125px 1980px #FFF , 40px 1302px #FFF , 264px 799px #FFF , 712px 1350px #FFF , 921px 1761px #FFF , 1921px 885px #FFF , 1480px 227px #FFF , 508px 1241px #FFF , 36px 1245px #FFF , 305px 1103px #FFF , 505px 1307px #FFF , 225px 86px #FFF , 867px 1757px #FFF , 1004px 1873px #FFF , 488px 18px #FFF , 1293px 731px #FFF , 96px 1277px #FFF , 196px 1088px #FFF , 1024px 494px #FFF , 1730px 1228px #FFF , 1751px 996px #FFF , 121px 679px #FFF , 553px 1352px #FFF , 1405px 1494px #FFF , 1770px 219px #FFF , 1091px 1579px #FFF , 1400px 1289px #FFF , 1108px 1271px #FFF , 1600px 124px #FFF , 1332px 14px #FFF , 1384px 1043px #FFF , 685px 724px #FFF , 1797px 1872px #FFF , 1197px 428px #FFF , 1374px 1508px #FFF , 95px 97px #FFF , 1467px 119px #FFF , 996px 280px #FFF , 666px 1194px #FFF , 1588px 841px #FFF , 1336px 323px #FFF , 1669px 1975px #FFF , 152px 46px #FFF , 1444px 35px #FFF , 446px 462px #FFF , 103px 753px #FFF , 690px 644px #FFF , 1470px 219px #FFF , 707px 1671px #FFF , 1492px 1815px #FFF , 353px 157px #FFF , 316px 1338px #FFF , 1347px 354px #FFF , 60px 33px #FFF , 1134px 680px #FFF , 890px 1211px #FFF , 506px 1071px #FFF , 69px 1817px #FFF , 615px 354px #FFF , 590px 590px #FFF , 1296px 232px #FFF , 343px 582px #FFF , 1977px 1513px #FFF , 721px 1338px #FFF , 1615px 697px #FFF , 647px 602px #FFF , 171px 501px #FFF , 1636px 126px #FFF , 1921px 1803px #FFF , 921px 1830px #FFF , 919px 253px #FFF , 1822px 1981px #FFF , 1904px 1061px #FFF , 28px 226px #FFF , 1769px 1412px #FFF , 1752px 432px #FFF , 126px 1104px #FFF , 1426px 616px #FFF , 1044px 1908px #FFF , 272px 975px #FFF , 516px 121px #FFF , 64px 1467px #FFF , 655px 556px #FFF , 1022px 1966px #FFF , 1306px 92px #FFF , 1979px 784px #FFF , 511px 1776px #FFF , 1477px 843px #FFF , 1601px 327px #FFF , 1166px 435px #FFF , 410px 1429px #FFF , 1007px 1385px #FFF , 439px 1965px #FFF , 992px 1558px #FFF , 1693px 833px #FFF , 664px 1248px #FFF , 468px 395px #FFF , 799px 1824px #FFF , 1151px 406px #FFF , 1701px 1489px #FFF , 113px 542px #FFF , 154px 1615px #FFF , 1225px 986px #FFF , 75px 1323px #FFF , 118px 473px #FFF , 49px 1552px #FFF , 788px 164px #FFF , 886px 744px #FFF , 1732px 1399px #FFF , 1453px 488px #FFF , 429px 1644px #FFF , 1163px 1736px #FFF , 1532px 1901px #FFF , 851px 1030px #FFF , 1764px 776px #FFF , 416px 1386px #FFF , 257px 159px #FFF , 86px 1381px #FFF , 1463px 437px #FFF , 1240px 1242px #FFF , 429px 360px #FFF , 936px 79px #FFF , 400px 1511px #FFF , 1584px 1168px #FFF , 619px 193px #FFF , 1509px 469px #FFF , 99px 589px #FFF , 1047px 290px #FFF , 942px 315px #FFF , 406px 912px #FFF , 1546px 267px #FFF , 327px 454px #FFF , 1992px 215px #FFF , 735px 1103px #FFF , 1869px 1997px #FFF , 586px 997px #FFF , 653px 1896px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 563px 285px #FFF , 1089px 153px #FFF , 1498px 1188px #FFF , 68px 53px #FFF , 1094px 105px #FFF , 1480px 541px #FFF , 1589px 807px #FFF , 1990px 1551px #FFF , 347px 1647px #FFF , 258px 1930px #FFF , 294px 746px #FFF , 1996px 1873px #FFF , 995px 458px #FFF , 1842px 41px #FFF , 1182px 1146px #FFF , 438px 1140px #FFF , 1937px 1405px #FFF , 1038px 86px #FFF , 1778px 118px #FFF , 344px 1073px #FFF , 1373px 1951px #FFF , 444px 595px #FFF , 1987px 783px #FFF , 1205px 625px #FFF , 596px 390px #FFF , 272px 148px #FFF , 566px 1006px #FFF , 821px 1712px #FFF , 963px 1588px #FFF , 798px 1784px #FFF , 1560px 436px #FFF , 564px 968px #FFF , 1720px 244px #FFF , 1376px 51px #FFF , 1224px 1960px #FFF , 745px 691px #FFF , 1825px 770px #FFF , 939px 800px #FFF , 1928px 307px #FFF , 135px 1310px #FFF , 395px 1771px #FFF , 310px 1222px #FFF , 1006px 1548px #FFF , 155px 897px #FFF , 1313px 928px #FFF , 1344px 1390px #FFF , 597px 1649px #FFF , 860px 1120px #FFF , 818px 169px #FFF , 1172px 1165px #FFF , 1236px 265px #FFF , 291px 287px #FFF , 1120px 1978px #FFF , 1022px 1938px #FFF , 1067px 102px #FFF , 266px 1356px #FFF , 675px 1338px #FFF , 248px 772px #FFF , 1223px 2000px #FFF , 1238px 532px #FFF , 1854px 1832px #FFF , 72px 1962px #FFF , 1656px 1662px #FFF , 1447px 554px #FFF , 1853px 748px #FFF , 1628px 285px #FFF , 1440px 1401px #FFF , 1149px 1280px #FFF , 1759px 1350px #FFF , 1479px 1016px #FFF , 1477px 146px #FFF , 451px 1356px #FFF , 1504px 467px #FFF , 257px 1955px #FFF , 390px 1090px #FFF , 1672px 13px #FFF , 786px 1094px #FFF , 206px 661px #FFF , 1610px 444px #FFF , 875px 1671px #FFF , 1616px 717px #FFF , 422px 1389px #FFF , 1771px 30px #FFF , 96px 69px #FFF , 726px 199px #FFF , 508px 605px #FFF , 241px 519px #FFF , 217px 1862px #FFF , 1251px 1603px #FFF , 215px 1786px #FFF , 1708px 92px #FFF , 1303px 1609px #FFF , 774px 266px #FFF , 1403px 1921px #FFF , 915px 1266px #FFF , 1699px 1537px #FFF , 783px 1481px #FFF , 1820px 487px #FFF , 1106px 1253px #FFF , 1404px 1127px #FFF , 798px 1240px #FFF , 2px 167px #FFF , 503px 1919px #FFF , 365px 1453px #FFF , 499px 1693px #FFF , 1836px 912px #FFF , 1816px 146px #FFF , 1526px 1877px #FFF , 809px 470px #FFF , 541px 703px #FFF , 1483px 780px #FFF , 1304px 1605px #FFF , 516px 1777px #FFF , 41px 1598px #FFF , 427px 526px #FFF , 594px 1973px #FFF , 1852px 29px #FFF , 1552px 966px #FFF , 53px 1851px #FFF , 1165px 682px #FFF , 80px 1610px #FFF , 1492px 607px #FFF , 1579px 562px #FFF , 341px 1851px #FFF , 186px 1521px #FFF , 223px 797px #FFF , 1019px 1302px #FFF , 701px 1508px #FFF , 1159px 43px #FFF , 1870px 283px #FFF , 537px 809px #FFF , 558px 1252px #FFF , 596px 632px #FFF , 827px 80px #FFF , 1742px 1650px #FFF , 889px 1310px #FFF , 415px 1012px #FFF , 1219px 1930px #FFF , 1824px 297px #FFF , 1105px 1891px #FFF , 53px 1976px #FFF , 782px 818px #FFF , 1497px 1314px #FFF , 1714px 1976px #FFF , 1875px 1498px #FFF , 470px 1461px #FFF , 610px 959px #FFF , 1749px 210px #FFF , 1640px 222px #FFF , 1778px 183px #FFF , 317px 1365px #FFF , 395px 674px #FFF , 1329px 1224px #FFF , 1528px 1014px #FFF , 229px 1588px #FFF , 71px 398px #FFF , 449px 962px #FFF , 1727px 311px #FFF , 1580px 347px #FFF , 207px 1624px #FFF , 1924px 1121px #FFF , 1100px 1767px #FFF , 648px 1180px #FFF , 1869px 1664px #FFF , 705px 1617px #FFF , 1386px 45px #FFF , 87px 759px #FFF , 80px 765px #FFF , 589px 164px #FFF , 841px 508px #FFF , 574px 457px #FFF , 1890px 1567px #FFF , 1064px 1991px #FFF , 800px 1821px #FFF , 1812px 737px #FFF , 1117px 753px #FFF , 1039px 273px #FFF , 1548px 1082px #FFF , 296px 760px #FFF , 260px 576px #FFF , 1810px 1324px #FFF , 1076px 1846px #FFF , 350px 1741px #FFF , 1545px 1115px #FFF , 846px 144px #FFF , 298px 83px #FFF , 381px 1010px #FFF , 1716px 1828px #FFF , 1506px 875px #FFF , 425px 1971px #FFF , 75px 1135px #FFF , 34px 1311px #FFF , 1313px 1634px #FFF , 69px 1286px #FFF , 1269px 1670px #FFF , 1936px 690px #FFF , 1561px 1270px #FFF , 1047px 115px #FFF , 426px 53px #FFF , 997px 1048px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 563px 285px #FFF , 1089px 153px #FFF , 1498px 1188px #FFF , 68px 53px #FFF , 1094px 105px #FFF , 1480px 541px #FFF , 1589px 807px #FFF , 1990px 1551px #FFF , 347px 1647px #FFF , 258px 1930px #FFF , 294px 746px #FFF , 1996px 1873px #FFF , 995px 458px #FFF , 1842px 41px #FFF , 1182px 1146px #FFF , 438px 1140px #FFF , 1937px 1405px #FFF , 1038px 86px #FFF , 1778px 118px #FFF , 344px 1073px #FFF , 1373px 1951px #FFF , 444px 595px #FFF , 1987px 783px #FFF , 1205px 625px #FFF , 596px 390px #FFF , 272px 148px #FFF , 566px 1006px #FFF , 821px 1712px #FFF , 963px 1588px #FFF , 798px 1784px #FFF , 1560px 436px #FFF , 564px 968px #FFF , 1720px 244px #FFF , 1376px 51px #FFF , 1224px 1960px #FFF , 745px 691px #FFF , 1825px 770px #FFF , 939px 800px #FFF , 1928px 307px #FFF , 135px 1310px #FFF , 395px 1771px #FFF , 310px 1222px #FFF , 1006px 1548px #FFF , 155px 897px #FFF , 1313px 928px #FFF , 1344px 1390px #FFF , 597px 1649px #FFF , 860px 1120px #FFF , 818px 169px #FFF , 1172px 1165px #FFF , 1236px 265px #FFF , 291px 287px #FFF , 1120px 1978px #FFF , 1022px 1938px #FFF , 1067px 102px #FFF , 266px 1356px #FFF , 675px 1338px #FFF , 248px 772px #FFF , 1223px 2000px #FFF , 1238px 532px #FFF , 1854px 1832px #FFF , 72px 1962px #FFF , 1656px 1662px #FFF , 1447px 554px #FFF , 1853px 748px #FFF , 1628px 285px #FFF , 1440px 1401px #FFF , 1149px 1280px #FFF , 1759px 1350px #FFF , 1479px 1016px #FFF , 1477px 146px #FFF , 451px 1356px #FFF , 1504px 467px #FFF , 257px 1955px #FFF , 390px 1090px #FFF , 1672px 13px #FFF , 786px 1094px #FFF , 206px 661px #FFF , 1610px 444px #FFF , 875px 1671px #FFF , 1616px 717px #FFF , 422px 1389px #FFF , 1771px 30px #FFF , 96px 69px #FFF , 726px 199px #FFF , 508px 605px #FFF , 241px 519px #FFF , 217px 1862px #FFF , 1251px 1603px #FFF , 215px 1786px #FFF , 1708px 92px #FFF , 1303px 1609px #FFF , 774px 266px #FFF , 1403px 1921px #FFF , 915px 1266px #FFF , 1699px 1537px #FFF , 783px 1481px #FFF , 1820px 487px #FFF , 1106px 1253px #FFF , 1404px 1127px #FFF , 798px 1240px #FFF , 2px 167px #FFF , 503px 1919px #FFF , 365px 1453px #FFF , 499px 1693px #FFF , 1836px 912px #FFF , 1816px 146px #FFF , 1526px 1877px #FFF , 809px 470px #FFF , 541px 703px #FFF , 1483px 780px #FFF , 1304px 1605px #FFF , 516px 1777px #FFF , 41px 1598px #FFF , 427px 526px #FFF , 594px 1973px #FFF , 1852px 29px #FFF , 1552px 966px #FFF , 53px 1851px #FFF , 1165px 682px #FFF , 80px 1610px #FFF , 1492px 607px #FFF , 1579px 562px #FFF , 341px 1851px #FFF , 186px 1521px #FFF , 223px 797px #FFF , 1019px 1302px #FFF , 701px 1508px #FFF , 1159px 43px #FFF , 1870px 283px #FFF , 537px 809px #FFF , 558px 1252px #FFF , 596px 632px #FFF , 827px 80px #FFF , 1742px 1650px #FFF , 889px 1310px #FFF , 415px 1012px #FFF , 1219px 1930px #FFF , 1824px 297px #FFF , 1105px 1891px #FFF , 53px 1976px #FFF , 782px 818px #FFF , 1497px 1314px #FFF , 1714px 1976px #FFF , 1875px 1498px #FFF , 470px 1461px #FFF , 610px 959px #FFF , 1749px 210px #FFF , 1640px 222px #FFF , 1778px 183px #FFF , 317px 1365px #FFF , 395px 674px #FFF , 1329px 1224px #FFF , 1528px 1014px #FFF , 229px 1588px #FFF , 71px 398px #FFF , 449px 962px #FFF , 1727px 311px #FFF , 1580px 347px #FFF , 207px 1624px #FFF , 1924px 1121px #FFF , 1100px 1767px #FFF , 648px 1180px #FFF , 1869px 1664px #FFF , 705px 1617px #FFF , 1386px 45px #FFF , 87px 759px #FFF , 80px 765px #FFF , 589px 164px #FFF , 841px 508px #FFF , 574px 457px #FFF , 1890px 1567px #FFF , 1064px 1991px #FFF , 800px 1821px #FFF , 1812px 737px #FFF , 1117px 753px #FFF , 1039px 273px #FFF , 1548px 1082px #FFF , 296px 760px #FFF , 260px 576px #FFF , 1810px 1324px #FFF , 1076px 1846px #FFF , 350px 1741px #FFF , 1545px 1115px #FFF , 846px 144px #FFF , 298px 83px #FFF , 381px 1010px #FFF , 1716px 1828px #FFF , 1506px 875px #FFF , 425px 1971px #FFF , 75px 1135px #FFF , 34px 1311px #FFF , 1313px 1634px #FFF , 69px 1286px #FFF , 1269px 1670px #FFF , 1936px 690px #FFF , 1561px 1270px #FFF , 1047px 115px #FFF , 426px 53px #FFF , 997px 1048px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 175px 1921px #FFF , 1613px 1071px #FFF , 1521px 312px #FFF , 855px 780px #FFF , 1354px 181px #FFF , 1749px 886px #FFF , 1124px 1135px #FFF , 805px 1175px #FFF , 1159px 1423px #FFF , 643px 1025px #FFF , 1433px 46px #FFF , 1012px 1170px #FFF , 1542px 1372px #FFF , 155px 465px #FFF , 1648px 1267px #FFF , 745px 639px #FFF , 881px 260px #FFF , 229px 114px #FFF , 1511px 1938px #FFF , 980px 839px #FFF , 678px 1334px #FFF , 1953px 1240px #FFF , 99px 911px #FFF , 819px 800px #FFF , 1219px 1797px #FFF , 1408px 880px #FFF , 1358px 105px #FFF , 926px 953px #FFF , 1200px 711px #FFF , 1399px 476px #FFF , 676px 1405px #FFF , 1169px 1719px #FFF , 1450px 742px #FFF , 466px 168px #FFF , 384px 1306px #FFF , 1835px 1678px #FFF , 1806px 27px #FFF , 1748px 211px #FFF , 1498px 1145px #FFF , 1373px 117px #FFF , 75px 592px #FFF , 1286px 786px #FFF , 403px 312px #FFF , 953px 509px #FFF , 534px 745px #FFF , 550px 8px #FFF , 990px 1877px #FFF , 335px 1869px #FFF , 158px 872px #FFF , 1012px 9px #FFF , 943px 612px #FFF , 1683px 1959px #FFF , 1665px 216px #FFF , 1566px 969px #FFF , 254px 1px #FFF , 342px 197px #FFF , 269px 1862px #FFF , 1864px 5px #FFF , 1026px 593px #FFF , 1588px 1858px #FFF , 1002px 1406px #FFF , 1936px 748px #FFF , 642px 1805px #FFF , 570px 1586px #FFF , 1147px 1197px #FFF , 306px 1989px #FFF , 699px 1718px #FFF , 955px 166px #FFF , 1998px 372px #FFF , 172px 905px #FFF , 167px 782px #FFF , 1924px 1795px #FFF , 1445px 1213px #FFF , 641px 1588px #FFF , 382px 1863px #FFF , 62px 1359px #FFF , 1830px 1627px #FFF , 1482px 1712px #FFF , 217px 785px #FFF , 167px 16px #FFF , 1106px 1714px #FFF , 1298px 678px #FFF , 1294px 276px #FFF , 1973px 816px #FFF , 774px 15px #FFF , 997px 1919px #FFF , 1093px 84px #FFF , 790px 922px #FFF , 334px 1522px #FFF , 1835px 984px #FFF , 665px 403px #FFF , 1922px 1655px #FFF , 1691px 1248px #FFF , 261px 456px #FFF , 1722px 492px #FFF , 1644px 150px #FFF , 1388px 219px #FFF , 1402px 149px #FFF , 1957px 751px #FFF , 1725px 1829px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 175px 1921px #FFF , 1613px 1071px #FFF , 1521px 312px #FFF , 855px 780px #FFF , 1354px 181px #FFF , 1749px 886px #FFF , 1124px 1135px #FFF , 805px 1175px #FFF , 1159px 1423px #FFF , 643px 1025px #FFF , 1433px 46px #FFF , 1012px 1170px #FFF , 1542px 1372px #FFF , 155px 465px #FFF , 1648px 1267px #FFF , 745px 639px #FFF , 881px 260px #FFF , 229px 114px #FFF , 1511px 1938px #FFF , 980px 839px #FFF , 678px 1334px #FFF , 1953px 1240px #FFF , 99px 911px #FFF , 819px 800px #FFF , 1219px 1797px #FFF , 1408px 880px #FFF , 1358px 105px #FFF , 926px 953px #FFF , 1200px 711px #FFF , 1399px 476px #FFF , 676px 1405px #FFF , 1169px 1719px #FFF , 1450px 742px #FFF , 466px 168px #FFF , 384px 1306px #FFF , 1835px 1678px #FFF , 1806px 27px #FFF , 1748px 211px #FFF , 1498px 1145px #FFF , 1373px 117px #FFF , 75px 592px #FFF , 1286px 786px #FFF , 403px 312px #FFF , 953px 509px #FFF , 534px 745px #FFF , 550px 8px #FFF , 990px 1877px #FFF , 335px 1869px #FFF , 158px 872px #FFF , 1012px 9px #FFF , 943px 612px #FFF , 1683px 1959px #FFF , 1665px 216px #FFF , 1566px 969px #FFF , 254px 1px #FFF , 342px 197px #FFF , 269px 1862px #FFF , 1864px 5px #FFF , 1026px 593px #FFF , 1588px 1858px #FFF , 1002px 1406px #FFF , 1936px 748px #FFF , 642px 1805px #FFF , 570px 1586px #FFF , 1147px 1197px #FFF , 306px 1989px #FFF , 699px 1718px #FFF , 955px 166px #FFF , 1998px 372px #FFF , 172px 905px #FFF , 167px 782px #FFF , 1924px 1795px #FFF , 1445px 1213px #FFF , 641px 1588px #FFF , 382px 1863px #FFF , 62px 1359px #FFF , 1830px 1627px #FFF , 1482px 1712px #FFF , 217px 785px #FFF , 167px 16px #FFF , 1106px 1714px #FFF , 1298px 678px #FFF , 1294px 276px #FFF , 1973px 816px #FFF , 774px 15px #FFF , 997px 1919px #FFF , 1093px 84px #FFF , 790px 922px #FFF , 334px 1522px #FFF , 1835px 984px #FFF , 665px 403px #FFF , 1922px 1655px #FFF , 1691px 1248px #FFF , 261px 456px #FFF , 1722px 492px #FFF , 1644px 150px #FFF , 1388px 219px #FFF , 1402px 149px #FFF , 1957px 751px #FFF , 1725px 1829px #FFF;
}
#title {
  position: absolute;
  font-weight: 300;
  top: 40%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 130px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(white, #dbdde0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-name: animGravity;
}

#subtitle {
  position: absolute;
  font-weight: 300;
  top: 60%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
}
#subtitle span {
  color: #d8d8d8;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
#subtitle span:nth-child(1) {
  animation-name: animDont;
}
#subtitle span:nth-child(2) {
  animation-name: animLet;
}
#subtitle span:nth-child(3) {
  animation-name: animGo;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%, 80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animDont {
  0%	, 15% {
    transform: translateY(-26px);
    opacity: 0;
  }
  35%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animLet {
  0%	, 25% {
    transform: translateY(-26px);
    opacity: 0;
  }
  45%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animGo {
  0%	, 35% {
    transform: translateY(-26px);
    opacity: 0;
  }
  55%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
/*scroll*/
.mouse {
  background: #4e5559 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(50%, #ffffff), to(#ffffff));
  background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  position: absolute;
  width: 52px;
  height: 88px;
  left: 95%;
  top: 80%;
  border-radius: 100px;
  background-size: 100% 200%;
  -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
          animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 46px;
  height: 82px;
  background-color: #222a30;
  border-radius: 100px;
}
.mouse:after {
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 5s linear infinite;
          animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  90%, 100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(40px);
            transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-20px);
            transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-20px);
            transform: scale(1) translateY(-20px);
  }
}
@-webkit-keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}

/* animation......<P>
  -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
          animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
          .......*/



/*   container */
#music {
  text-align: center;
  margin-top: 750px;
  min-height: 740px;
  width: 100%;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(146,70,252,1) 100%);
}

h1 {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 40px;
  color: #dedede;
  padding-top: 1em;
  margin-top: 0;
  margin-bottom: 1.5em;
}

img{
  width: 150px;
  margin-left: 60px;
  margin-bottom: 16px;
}
#footer{
    padding-top: 10px;
    text-align: center;
  margin-top: 0px;
  min-height: 550px;
  width: 100%;
  color: #FFF;
}
.fa{
  padding: 12px;
}
#container {
  text-align: center;
  margin-top: 0px;
  min-height: 750px;
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/rainner/codepen-assets/master/images/pinkish_sunset.jpg");
}
a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.fa-facebook:hover{
  color: #55ACEE;
}
.fa-instagram:hover{
  color: red;
}
.fa-whatsapp:hover{
  color: green;
}
.fa-twitter:hover{
  color: #55ACEE;
}
.fa-apple:hover{
  color:#818c94;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  bottom: 0px;
  position: absolute;
  
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background:red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}


.song-name{
  background:scroll;
  width: 150%;
  height: 23px;
  margin-top: -100px;
  margin-left: 120px;
  color: white;
}
.song-singer{
  background:scroll;
  width: 100%;
  height: 30px;
  margin-top: -19px;
  margin-left: 0px;
  color: white;
  font-size: small;
}
.fa-pause-circle{
  display: none;
}
.song-list{
  background:scroll;
  width: 30%;
  height: 30px;
  margin-top: -25px;
  margin-left: 1000px;
  color: white;
  font-size: large;
  
}
#player-wrap{
  background:#818c94;
  width: 80%;
  position: fixed;
  overflow:visible;
  height: 100px;
bottom: 3px;
margin-left: 130px;
margin-right: 30px;
border-radius: 10px;
}
#controls{
  text-align: center;
  background:scroll;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-left: 0px;
}
.player-cover{
width: 100px;
height: 40px;
margin-top:10px;
position: absolute;
}
.cover{
width: 80px;
height: 80px;
border-radius: 10px;
margin-left: 30px;
}

/* slide show   */

